{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-6">
           <img src="{{moviedet_key.image.url}}" width="400" height="400">
        </div>
        <div class="col md-3">
            <h2>{{moviedet_key.name}}: {{moviedet_key.year}}<br></h2>
            {{moviedet_key.desc}}<br>
            <a class="btn btn-warning" href="{% url 'movieapp:update' moviedet_key.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'movieapp:delete' moviedet_key.id %}">Delete</a>
        </div>
    </div>
</div>

{% endblock %}

